body {
    background: linear-gradient(rgb(104, 56, 111),black);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}